/*.map {
	background-color: red;
}*/

.side-panel{
    overflow: scroll;
	padding: 2rem;
	margin: 0;
	overflow-x: hidden;
	min-width: 350px;
	z-index: 1;
}

.ptr-form p > a{
	text-decoration: underline;
}